@import '../Layout/colors.scss';
@import '../Layout/fonts.scss';

.jumbotron {
  background: $white;
  background: linear-gradient(to bottom, #fff, #fefefe);
  border-radius: 0px;
}

.jumbotron-lead {
  font-size: 2.4rem;
  font-weight: 300;
  font-family: $font-family-sans-serif;
}

.subtron {
  background: #efefef;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
