@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,300,100|Nunito:300|Roboto+Slab:400,300,200,100);
@font-face {
  font-family: 'round';
  src: url('/font/round.otf');
  font-weight: lighter;
}
@font-face {
  font-family: 'round';
  src: url('/font/round_reg.ttf');
  font-weight: normal;
}


// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;
  // Font, line-height, and color for body text, headings, and more.
$font-family-serif: 'Roboto Slab', 'Consolas', 'Menlo', serif, !default;

$font-family-title: 'round', 'Nunito', $font-family-sans-serif, !default;

$font-family-monospace: 'Roboto Mono', 'Consolas', 'Menlo', monospace, !default;

$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 1.6rem !default;
$h2-font-size: 1.4rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1.1rem !default;
$h5-font-size: 1.05rem !default;
$h6-font-size: 1rem !default;

// $headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;